extends layout

block main-content
  h1.page-title Weather Report

  // Flex container for Earth and Mars Weather sections
  .weather-container
    // Earth Weather Section (left side)
    .earth-weather
      if earthWeather.cod == 200
        .weather-section
          h2 Earth Weather  #{city}
          p Temperature: #{earthWeather.main.temp} °C
          p Weather: #{earthWeather.weather[0].description}
          p Humidity: #{earthWeather.main.humidity}%
          p Wind Speed: #{earthWeather.wind.speed} m/s
      else
        p.error No Earth weather data available

    // Mars Weather Section (right side)
    .mars-weather
      if marsWeather && marsWeather.sol_keys
        - var latestSol = marsWeather.sol_keys[0] // Define latestSol before using it
        .weather-section
          h2 Mars Weather #{latestSol}
          p Sol: #{latestSol}
          p Temperature: #{marsWeather[latestSol].AT.av} °C
          p Pressure: #{marsWeather[latestSol].PRE.av} Pa
          p Wind Speed: #{marsWeather[latestSol].HWS.av} m/s
      else
        p.error No Mars weather data available
  
  
  div.center
    a(href="/")
      button Back to Home     
